@font-face{
	font-family: font1;
	src:url("1.ttf");
}
body{
   background-color: #000;
   margin: 0;
}
#download{
	position: relative;
	top:6%;
	left:40%;
	width:12%;
	height:2%;
	background-color: #f29202;
	color:#000;
	z-index: 1000;
	text-align: center;
	border-radius: 40px;
	min-width: 230px;
	text-decoration: none;
	box-shadow: 5px 10px 20px #f29202;
	transition-duration: 3s;
	font-family: font1;
}
#download a{
	text-decoration: none;
	color: #000;
}
#download:hover #thx{
	top: 30%;
}
#thx{
	left: 40%;
	position: absolute;
	top: -100px;
	color: green;
}
#disqus_thread{
	width: 100%;
	bottom: 0%;
}
#white{
	position: absolute;
	left: 0;
	top: -300px;
	background-color: #fff;
	height: 100px;
	width: 50px;
	border-radius: 70px;
	box-shadow: 50px 400px 50px #fff;
}
#white2{
	position: absolute;
	left: 700px;
	top: -300px;
	background-color: #fff;
	height: 100px;
	width: 200px;
	border-radius: 40px;
	box-shadow: 50px 400px 50px #fff;
}
#white3{
	position: absolute;
	left: 340px;
	top: -300px;
	background-color: #fff;
	height: 100px;
	width: 100px;
	border-radius: 100%;
	box-shadow: 50px 800px 50px #fff;
}
#white4{
	position: absolute;
	left: 800px;
	top: -900px;
	background-color: #fff;
	height: 400px;
	width: 550px;
	border-radius: 100%;
	box-shadow: 50px 1200px 50px #fff;
}
@media(max-width: 800px){
	#download{
		left:20%;
	}
}
@media(max-width: 1200px){
	#download{
		left:40%;
	}
}