body{
   background-color: #000;
   margin: 0;
}
body a{
	color: #000;
}
#download{
	position: relative;
	top:5%;
	left:40%;
	width:15%;
	height:5%;
	background-color: #f29202;
	color:#000;
	z-index: 1000;
	text-align: center;
	border-radius: 40px;
	min-width: 230px;
	text-decoration: none;
}
#disqus_thread{
	width: 100%;
	bottom: 0%;
}
@media(max-width: 1500px){
	#download{
		left:32%;
	}
}
@media(max-width: 800px){
	#download{
		left:20%;
	}
}